<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> # </th>
            <th>Client Number </th>
            <th> Client First Name</th>
            <th>Client Last Name </th>
            <th>Client Email </th>
            <th>OutPatient?</th>
        </tr>

    </thead>
    <tbody>
        <!-- <tr *ngFor='let patient of patients'>
            <td>{{patient.patientId}}</td>
            <td>{{ patient.patientNumber }}</td>
            <td>{{ patient.fullNames }}</td>
            <td>{{patient.contactPhoneNumber}}</td>
            <td>{{ patient.dateOfBirth }}</td>
            <td>{{ patient.isAnOutPatient }}</td>

        </tr> -->
    </tbody>
</table>
